<div class="container-fluid">
<header>
  <div class="row header-principal">
    <div class="col-md-2 col-lg-2 col-xs-2 logo">
            <img class="mx-auto d-block" src="../../../assets/images/logo_cms.png"/>
    </div>
    <div class="col-md-6 col-12 col-xs-12 col-lg-6">
      <ul class="header-form">
        <li>Fórum de Suporte</li>
        <li>Github</li>
        <li>Projetos</li>
      </ul>
    </div>

    <div class="col-md-3 col-12 col-xs-12 col-lg-3 justify-content-center align-self-center text-center float-right">
        <div class="dropdown">
            <button class="btn btn-primary-outline dropdown-toggle shaped" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user green"></i>&nbsp;&nbsp;Menu Pessoal
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Minha conta</a>
              <a class="dropdown-item" href="#">Sair</a>
            </div>
          </div>
    </div>
    <div class="line"></div>
  </div>

  <div class="row">
    <div class="col-md-2 col-lg-2 col-xs-2 col-2 menu">
      TESTE
    </div>
  </div>
 
</header>
</div>

