# Não precisamos que as bibliotecas sejam enviadas ao GIT.
# Elas devem ser baixadas pelo usuário através do bower [Protimus]
assets/components/angular/*
assets/components/bootstrap/*
assets/components/jquery/*
assets/components/popper.js/*
assets/components/font-awesome/*