/*
* brAthena Central de Desenvolvimento (CMS)
* Desenvolvido por Rafael P da Costa Gorges [Protimus]
* Data: 27/08/17
*/

html, body { background-color: #d3d5d6; height: 100%; }

#navbar { 
	background: rgba(98,125,77,1);
	background: -moz-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(98,125,77,1)), color-stop(100%, rgba(31,59,8,1)));
	background: -webkit-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
	background: -o-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
	background: -ms-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
	background: linear-gradient(to bottom, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08', GradientType=0 );
	color: white;
	width:10%; 
	margin-left: 0px;
	font-size:16px;
	height: 600px;
}

.nav-banner {
	height: 80px;
	width: 100%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:1px solid #2B6B13;
    background-color:#FAFAFA;
}

.nav-list li {
	margin-top: 30px;
}

.nav-list li a {
	color: white;
}

#conteudo {
	width: 90%;
	height: 100%;
}

.brathena-conteudo {
	background-color: #e5e7e8;
	height: 600px;
}

.info-menu {
	background-color: black;
	color: white;
	height: 80px;
	width: 100%;
}

.info-content {
	background-color: white;
	width: 100%;
	height: 500px;
	margin-top: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:1px solid #2B6B13;
    background-color:#FAFAFA;
}

/* Remoção de espaço entre as colunas */
.no-gutters {
	margin-right: 0;
	margin-left: 0;

	> .col,
	> [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

/* Exibição de row centralizado */ 
.centered {
    text-align: center;
    font-size: 0;
}

.centered > div {
    float: none;
    display: inline-block;
    text-align: left;
    font-size: 13px;
}

/* Estilização do container */
.container-fluid p {
	text-align: center;
	margin-top: 20px;
}

.container-fluid .external {
	color: #556B2F;
}

/* Erros do input */
.help-block {
	color: red;
	display: inline;
}

/* Botão padronizado */
.btn-custom {
	background: rgba(98,125,77,1);
	color: white;
	background: -moz-radial-gradient(center, ellipse cover, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(98,125,77,1)), color-stop(100%, rgba(31,59,8,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
	background: radial-gradient(ellipse at center, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
	border-color: black;
	box-shadow: none;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
	background-color: #37561f;
	border-color: black;
	box-shadow: none;
}

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
	background-color: #436926;
	border-color: black;
	box-shadow: none;
}
