<div class="container">
  <h3 class="text-center title">Traduções</h3>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12 mx-auto text-center">
      <p>Para enviar uma tradução clique no botão abaixo e escolha a tradução no seu disco rígido</p>
      <p>As traduções serão enviadas para o GIT de traduções, onde passarão por uma revisão dos desenvolvedores</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <form class="form mx-auto">
      <div class="col-md-12 col-lg-12 col-xs-12 col-12 text-center">
        <div class="input-group">
          <input type="file" class="form-control" id="TradInputFile" aria-describedby="fileHelp">
          <button type="submit" class="btn btn-default">Enviar</button>
        </div>
      </div>

    </form>
  </div>
</div>
