<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8">
	<title>brAthena - Central de Desenvolvimento</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/brathena.css">
    <link rel="stylesheet" href="../assets/components/font-awesome/css/font-awesome.min.css">
</head>
<body>
	<!-- Criando o container -->
	<div ng-app class="container">
		<!-- Atribuindo à classe para que não exista espaçamento entre as colunas -->
    	<div class="row justify-content-center login-page">
    		<!-- Criando columa de informações com logo e texto -->
      		<div class="col-lg-offset-6  brathena-info">
        		<div class="brathena-logo"><img src="../images/logo.png" class="img-fluid">
          			<div class="brathena-text centered">
            			<a href="https://forum.brathena.org" class="typewrite" target="_blank" data-period="2000" data-type='[ "Faça traduções para o emulador!", "Reporte erros no emulador!", "Ajude na criação de projetos!"]'>
            			<span class="wrap"></span></a>
          			</div>
        		</div>
      		</div>
    		<!-- Criando a coluna para formulário de login -->
    		<div class="col-lg-offset-6 brathena-form" align="center">
    			<!-- Criando formulário de login -->
        		<form class="loginForm" ng-submit="submitLoginForm()" role="form" name="loginForm" novalidate>
        			<div class="form-group" align="center" ng-class="{'has-error': loginForm.emailId.$touched && loginForm.emailId.$error.email , 'has-success': loginForm.emailId.$valid}" >
            			<label for="dob" class="col-sm-3 control-label external"><span class="fa fa-user-o">&nbsp;</span>Email</label>
            			<div class="col-sm-6">
                			<input type="email" id="dob" name="emailId" class="form-control" ng-model="email" placeholder="Por favor, digite seu email">
           				</div>
            			<div class="col-sm-3">
                			<span class="help-block" ng-show="loginForm.emailId.$touched && loginForm.emailId.$error.email"></span>
            			</div>
          			</div>
          			<div class="form-group" ng-class="{'has-error': loginForm.password.$touched && loginForm.password.$error.required , 'has-success':  loginForm.password.$valid }">
            			<label for="password" class="col-sm-3 control-label external"><span class="fa fa-key">&nbsp;</span>Senha</label>
              			<div class="col-sm-6">
                			<input type="text" id="password" name="password" class="form-control" placeholder="Por favor, digite sua senha" ng-model="password" required>
              			</div>
              			<div class="col-sm-6">
                			<span class="help-block" ng-show="loginForm.password.$touched && loginForm.password.$error.required"></span>
        					<div class="forgot">
        						<span><a href="" class="external">Esqueceu sua senha?</a><br>
        						<a href="register.html" class="external">Não tem uma conta? Cadastre-se </a></span>
      						</div>
      					</div>
      					<div class="col-sm-6">
        					<input type="submit" value="Entrar" class="btn btn-custom col-sm-offset-3">
        				</div>
        				<!-- Espaço reservado para adição futura de captcha -->
        			</div>
        		</form> 
    		</div>
			<p>Desenvolvido por <a href="https://forum.brathena.org" class="external">Protimus</a><br>Todos os direitos reservados. brAthena &copy 2017</p>
  		</div>
	</div>
  <!-- Leitura de JavaScript -->
  <script src="../assets/components/jquery/dist/jquery.min.js"></script>
  <script src="../assets/components/popper.js/dist/popper.js"></script>
  <script src="../assets/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../assets/components/brathena/text-animate.js"></script>
  <script src="../assets/components/angular/angular.min.js"></script>
  </body>
</html>