<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8">
	<title>brAthena - Central de Desenvolvimento</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/brathena.css">
    <link rel="stylesheet" href="../assets/components/font-awesome/css/font-awesome.min.css">
</head>
<body>
	<!-- Criando o container -->
	<div ng-app="brApp" ng-controller="formController" class="container">
		<!-- Atribuindo à classe para que não exista espaçamento entre as colunas -->
    	<div class="row justify-content-center login-page">
    		<!-- Criando columa de informações com logo e texto -->
      		<div class="col-lg-offset-6  brathena-info">
        		<div class="brathena-logo"><img src="../images/logo.png" class="img-fluid">
          			<div class="brathena-text centered">
            			<a href="https://forum.brathena.org" class="typewrite" target="_blank" data-period="2000" data-type='[ "Faça traduções para o emulador!", "Reporte erros no emulador!", "Ajude na criação de projetos!"]'>
            			<span class="wrap"></span></a>
          			</div>
        		</div>
      		</div>
    		<!-- Criando a coluna para formulário de login -->
    		<div class="col-lg-offset-6 brathena-form" align="center">
    			<!-- Criando formulário de login -->
        		<form class="loginForm" ng-submit="submitLogin()" role="form" name="loginForm" novalidate>
       				<div class="form-group col-md-8" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
            			<label><span class="fa fa-user-o">&nbsp;</span>Email</label>
            			<input type="email" name="email" class="form-control input-group-sm" ng-model="user.email">
            			<p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Por favor, digite um email válido.</p>
        			</div>
        			<div class="form-group col-md-8" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
            			<label><span class="fa fa-key">&nbsp;</span>Senha</label>
            			<input type="text" name="password" class="form-control" ng-model="user.password" required>
            			<p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Por favor, digite uma senha.</p>
            		</div>
              		<div class="col-sm-6">
        				<div class="forgot">
        					<span><a href="" class="external">Esqueceu sua senha?</a><br>
        					<a href="registar.html" class="external">Não tem uma conta? Cadastre-se </a></span>
      					</div>
      				</div>
        			<!-- Espaço reservado para adição futura de captcha -->
      				<div class="col-sm-6">
        				<button type="submit" class="btn btn-custom col-sm-offset-3" ng-disabled="loginForm.$invalid">Entrar</button>
        			</div>
        		</form> 
    		</div>
			<p>Desenvolvido por <a href="https://forum.brathena.org" class="external">Protimus</a><br>Todos os direitos reservados. brAthena &copy 2017</p>
  		</div>
	</div>
	<!-- Leitura de JavaScript -->
	<script src="../assets/components/jquery/dist/jquery.min.js"></script>
	<script src="../assets/components/popper.js/dist/popper.js"></script>
	<script src="../assets/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../assets/components/angular/angular.min.js"></script>
	<!-- Leitura de controladores e javascripts específicos -->
	<script src="../assets/components/brathena/formControl.js"></script>
	<script src="../assets/components/brathena/text-animate.js"></script>
  </body>
</html>