<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8">
	<title>brAthena - Central de Desenvolvimento</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/brathena-user.css">
    <link rel="stylesheet" href="../assets/components/font-awesome/css/font-awesome.min.css">
</head>
<body>
	<!-- Criando o container -->
	<div ng-app="brApp" ng-controller="formController" class="container">
		<!-- Atribuindo à classe para que não exista espaçamento entre as colunas -->
    	<div class="row justify-content-center login-page">
    		<!-- Criando columa de informações com logo e texto -->
      		<div class="col-lg-offset-6  brathena-info">
        		<div class="brathena-logo"><img src="../images/logo.png" class="img-fluid">
          			<div class="brathena-text centered">
            			<a href="https://forum.brathena.org" class="typewrite" target="_blank" data-period="2000" data-type='[ "Faça traduções para o emulador!", "Reporte erros no emulador!", "Ajude na criação de projetos!"]'>
            			<span class="wrap"></span></a>
          			</div>
        		</div>
      		</div>
    		<!-- Criando a coluna para formulário de login -->
    		<div class="col-lg-offset-6 brathena-form" align="center">
    			<!-- Criando formulário de login -->
        		<form class="regForm" ng-submit="submitReg()" role="form" name="regForm" novalidate>
       				<div class="form-group col-md-9" ng-class="{ 'has-error' : regForm.email.$invalid && !regForm.email.$pristine }">
            			<label><span class="fa fa-user-o">&nbsp;</span>Email</label>
            			<input type="email" name="email" class="form-control input-group-sm" placeholder="Digite um email válido" ng-model="user.email" required>
            			<p ng-show="regForm.email.$invalid && !regForm.email.$pristine" class="help-block">Para cadastrar é preciso informar um email.</p>
        			</div>
        			<div class="form-group col-md-9" ng-class="{ 'has-error' : regForm.password.$invalid && !regForm.password.$pristine }">
            			<label><span class="fa fa-key">&nbsp;</span>Senha</label>
            			<input type="text" name="password" class="form-control" placeholder="Digite uma senha" ng-model="user.password" required>
            			<p ng-show="regForm.password.$invalid && !regForm.password.$pristine" class="help-block">Para cadastrar é preciso informar uma senha.</p>
            		</div>
        			<div class="form-group col-md-9" ng-class="{ 'has-error' : regForm.date.$invalid && !regForm.date.$pristine }">
            			<label><span class="fa fa-birthday-cake">&nbsp;</span>Nascimento</label>
            			<input type="date" name="birthday" class="form-control" placeholder="Digite uma senha" ng-model="user.birthday" required>
            			<p ng-show="regForm.birthday.$invalid && !regForm.birthday.$pristine" class="help-block">Para cadastrar é preciso informar sua data de nascimento.</p>
            		</div>
      				<div class="col-sm-6">
        				<button type="button" class="btn btn-custom col-sm-offset-3" ng-click="reset()" value="Reset">Resetar</button>
        				<button type="submit" class="btn btn-custom col-sm-offset-10" ng-disabled="regForm.$invalid">Cadastrar</button>
        			</div>
        		</form> 
    		</div>
			<p>Desenvolvido por <a href="https://forum.brathena.org" class="external">Protimus</a><br>Todos os direitos reservados. brAthena &copy 2017</p>
  		</div>
	</div>
	<!-- Leitura de JavaScript -->
	<script src="../assets/components/jquery/dist/jquery.min.js"></script>
	<script src="../assets/components/popper.js/dist/umd/popper.min.js"></script>
	<script src="../assets/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../assets/components/angular/angular.min.js"></script>
	<!-- Leitura de controladores e javascripts específicos -->
	<script src="../assets/components/brathena/formControl.js"></script>
	<script src="../assets/components/brathena/text-animate.js"></script>
  </body>
</html>